{% extends "base.html" %}
{% block title %} Image | {{ block.super }} {% endblock title %}

{% block content %}
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      {% block image %}{% endblock image %}
    </li>
  </ul><!--vav nav-tabs-->
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
      <!-- Title -->
      <h1 class="mt-4">Description</h1>
      <hr>
      <!-- Date/Time -->
      {% block desc %}{% endblock desc %}
      <hr>
       {% include "image/form_image.html" %}
    </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4" style="margin-top:70px">
      <!-- Search Widget -->
        <div class="card my-4" >
          <h5 class="card-header" style="text-align:center">Image </h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" readonly="readonly" style="font-size: 100px; text-align:center" value="{{ number }}">
            </div>
          </div>
        </div>
          </div>
    </div>
</div>
{% endblock content %}
